html,
body {
  height: 100%;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Loaded Content */
body.make-way #loaded-content.loaded {

  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -ms-transform-origin: top center;
  -o-transform-origin: top center;
  transform-origin: top center;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
  opacity: .8;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  
}

#loaded-content.loaded {
  -webkit-transition-duration: .8s,.8s,.8s;
  -moz-transition-duration: .8s,.8s,.8s;
  -o-transition-duration: .8s,.8s,.8s;
  transition-duration: .8s,.8s,.8s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-transform: perspective(0) translate3d(0px, 0px, 0px);
  -moz-transform: perspective(0) translate3d(0px, 0px, 0px);
  -ms-transform: perspective(0) translate3d(0px, 0px, 0px);
  -o-transform: perspective(0) translate3d(0px, 0px, 0px);
  transform: perspective(0) translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  -webkit-transition-property: all,opacity,-webkit-filter;
  -moz-transition-property: all,opacity,-webkit-filter;
  -o-transition-property: all,opacity,-webkit-filter;
  transition-property: all,opacity,-webkit-filter;
  height: 100%;
}

#loaded-content {
  position: relative;
  width: 100%;
  height: 100%;
  
  -webkit-transition-duration: 1s,0s,0s;
  -moz-transition-duration: 1s,0s,0s;
  -o-transition-duration: 1s,0s,0s;
  transition-duration: 1s,0s,0s;
}

.padded-p {
  padding-left: 10px;
  padding-right: 10px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
.footer {
  height: 100%;
  background-color: #E0E5EE;
}
/* Typography */

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

#page {
  font-size: 1em;
  /* equivalent to 16px */
  line-height: 1.25;
  /* equivalent to 20px */
}

@media (min-width: 43.75em) {
  #page {
    font-size: 1em;
    /* equivalent to 16px */
    line-height: 1.375;
    /* equivalent to 22px */
  }
}

h1 {
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */
}

@media (min-width: 43.75em) {
  h1 {
    font-size: 2.5em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    /* 3x body copy size = 48px */
    line-height: 1.05;
    /* keep to a multiple of the 20px line height and something more appropriate for display headings */
  }
}

h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */
}

@media (min-width: 43.75em) {
  h2 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h2 {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25;
  }
}

h3 {
  font-size: 1.375em;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */
}

@media (min-width: 43.75em) {
  h3 {
    font-size: 1.5em;
    /* 1.5x body copy size = 24px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h3 {
    font-size: 1.75em;
    /* 1.75x body copy size = 28px */
    line-height: 1.25;
  }
}

h4 {
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111;
}

@media (min-width: 43.75em) {
  h4 {
    line-height: 1.22222222;
    /* (22px / 18px */
  }
}

blockquote {
  font-size: 1.25em;
  /* 20px / 16px */
  line-height: 1.25;
  /* 25px / 20px */
}

@media (min-width: 43.75em) {
  blockquote {
    font-size: 1.5em;
    /* 24px / 16px = */
    line-height: 1.45833333;
    /* 35px / 24px */
  }
}

.wf-loading h1 {
	visibility: hidden;
}
.wf-active h1 {
	visibility: visible;
}
.wf-loading h2 {
	visibility: hidden;
}
.wf-active h2 {
	visibility: visible;
}

.bold {
  font-weight: 700;
}

/* Color */

.light {
  color: #9B9B9B;
}

.blue {
  color: #90A9EB;
}

/* Spacing */

.center {
  text-align: center;
}

.right {
  float: right;
}
.left {
  float: left;
}

.fullheight {
  min-height: 100%;
}

.padding-top {
  padding-top: 75px;
}
.padding-top-lg {
  padding-top: 100px;
}
.padding-top-sm {
  padding-top: 30px;
}
.padding-top-xsm {
  padding-top: 10px;
}

.padding-bottom {
  padding-bottom: 75px;
}

.valign-middle {
  float:none;
  display:inline-block;
  vertical-align:middle;
}

/* Buttons */

#hero-btn {
  width: 70%;
  float: left;
  min-height: 1px;
  position: relative;
}
.btn-custom {
  background-color: #7691CD;
  color: #ffffff;
  width: 65%;
  font-size: 20px;
  padding: 20px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
}
.btn-footer {
  background-color: #7691CD;
  color: #ffffff;
  width: 45%;
  font-size: 16px;
  padding: 10px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
}
.btn-custom.big {
  width: 380px;
  height: 60px;
}

.btn-custom.small {
   font-size: 20px;
   text-transform: uppercase;
 }

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
 color: #000000;
 text-decoration: underline;
}
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
  background-color: #8393bf;
  border-color: #8393bf;
}

/* links */

.linkicon {
  padding-left: 5px;
}

a {
  color: #223978;
  font-weight: 700;
}


a {
  text-decoration: none;
}

nav a:after {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    content: "";
    height: 3px;
    left: 0;
    opacity: 0;
    position: absolute;
    border-radius: 1px;
    top: 100%;
    transform: translateY(10px);
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
    width: 100%;
}
nav a:hover, nav a:focus {
    outline: medium none;
}
a:active, a:hover {
    outline: 0 none;
    text-decoration: none;
}
nav a {
    display: inline-block;
    outline: medium none;
    position: relative;
    text-decoration: none;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
}

a:hover:after, .cl-effect-3 a:focus:after {
    opacity: 1;
    transform: translateY(0px);
}

/* Animations */

/* Navbar */

.nav {
    position: relative;
}

#navbar-inner {
  text-align:center;
}

#navbar-list a:not(:last-child) { 
  margin-right: 150px;
}
#navbar-list a {
  color: #9B9B9B;
  font-weight: 300;
}
/* Footer */

#footer-list a {
  color: #454545;
}

#footer-list a:not(:last-child) { 
  margin-right: 50px;
}

#footer-list a:after {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
}
/* Mobile Navbar */

.navbar-nav {
  text-align: center;
}

.navbar-nav li {
  background-color: #E0E5EE;
}

#mobile-footer-tagline {
  padding-top: 15px;
  font-size: .75em;
}

#mobile-phone-video {
  width: 622px;
  height: 1109px;
}

/* Mobile Footer */

@media (max-width: 767px) {

  #footer-list
  {
    text-align: center;
  }

  #footer-list a {
    font-size: .75em;
  }

  #footer-list a:not(:last-child) {
    margin-right: 7px;
  }

  .navbar-toggle .icon-bar-custom {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #90AAEB;
  }

  .navbar-toggle .icon-bar-custom + .icon-bar-custom {
    margin-top: 4px;
  }
  .navbar-brand {
    padding: 10px 15px;
  }
  .navbar-toggle {
    margin-top: 4px;
    border-radius: 2px; 
  }
  .navbar {
    margin-bottom: 0;
  }
  #hero-btn {
  width: 100%;
  float: left;
  min-height: 1px;
  position: relative;
  }
  .btn-custom {
  background-color: #7691CD;
  color: #ffffff;
  width: 55%;
  font-size: 16px;
  padding: 10px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500; 
  }
}
