<h1>Companies</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= link_to company.name, admin_company_path(company) %></td>
        <td><%= company.users.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
