<h1>Listing status_entries</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @status_entries.each do |status_entry| %>
      <tr>
        <td><%= link_to 'Show', status_entry %></td>
        <td><%= link_to 'Edit', edit_status_entry_path(status_entry) %></td>
        <td><%= link_to 'Destroy', status_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Status entry', new_status_entry_path %>
