
		<div id="hero-btn">
			<button class="btn btn-custom btn-lg" type="button" id="download-cta">
				<span class="glyphicon glyphicon-phone" style="margin-right: 20px;"></span>Get Triage For iOS
			</button>
		</div>

