<div class="col-lg-12">
	<div class="spacer"></div>
	<div class="row">
		<div class="col-lg-6 col-lg-offset-3">
			<!-- Logo Row -->
			<div class="row">
				<%= link_to('/') do %><h2><%= image_tag "logotriage.png" %><% end %><span id="logo">Triage</span</h2>
			</div>
			<!-- Title Row -->
			<div class="row" id="welcome-title">
				<h1>FAQ</h1>
			</div>
			<!-- Description Row -->
			<div class="row" id="welcome-description">
				<p> Coming Soon.</p>
			</div>

		</div>
	</div>
</div>

<!--
	What is Triage?
	How does it work?
	What services does Triage integrate with?
	Is my data safe with Triage?
	Can I cancel my account?
	Who's behind Triage?
	Can I suggest another service?
	Is there an android app?
-->
