<div class="col-lg-12">
	<div class="spacer"><br /></div>
	<div class="row">
		<div class="col-lg-6 col-lg-offset-3">
			<!-- Logo Row -->
			<div class="row">
				<%= link_to('/') do %><%= image_tag "logo-triage-lg.png", :class => "center-block" %><% end %>
			</div>
			<!-- Title Row -->
			<div class="row" id="welcome-title">
				<h1 class="centered">Press</h1>
			</div>
			<!-- Press Release Row -->
			<div class="row" id="welcome-title">
				<h3 class="colored">Press Release</h3>
			</div>
			<div class="row center-block center" id="download-button">
				
					<a class="btn btn-custom small centered" href="https://s3-us-west-2.amazonaws.com/triage-production/Triage-PressRelease.pdf">Download Press Release</a>
				
			</div>
			<!-- Screenshots Row -->
			<div class="row" id="welcome-title">
				<h3 class="colored">Press Assets</h3>
			</div>
			<div class="row center-block center" id="download-button">
				
					<a class="btn btn-custom small centered" href="https://s3-us-west-2.amazonaws.com/triage-production/Triage-PressAssets.zip">Download Press Assets</a>
				
			</div>

		</div>
	</div>
</div>
