<div class="container fullheight">
	<div class="row center padding-top-sm">
		<%= image_tag "triage-logo.png" %>
	</div>

	<div class="row center">
		<div class="col-lg-6 col-lg-offset-3 padding-top-sm">
			<h2>Thanks so much!</h2>
			<h4>We'll email you if you are chosen for the pilot program.</h4>
			<br>
			<h4 class="padding-top-sm light">Having your teammates fill out our questionnaire increases your chances to be chosen to pilot Triage. Share our pilot questionnaire, we'll keep track of companies that fill it out.</h4>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 padding-top-sm center">
			<h4>Do you want to invite your teammates?</h4>
			<p>Companies with multiple teammates participating will get first access to the pilot. We will never spam these emails, and will only contact them if you’re accepted.</p>
		</div>
	</div>
	<div class="row padding-top-xsm">
		<div class="col-lg-8 col-lg-offset-2 col-sm-6 col-sm-offset-3">		
			<div class="row">
				<div class="col-lg-3">
					<form role="form">
					  <div class="form-group">
					    <input type="email" name="teammate" class="form-control-custom" id="exampleInputEmail1" placeholder="Email">
					  </div>
					</form>
				</div>
				<div class="col-lg-3">
					<form role="form">
					  <div class="form-group">
					    <input type="email" name="teammate" class="form-control-custom" id="exampleInputEmail1" placeholder="Email">
					  </div>
					</form>
				</div>
				<div class="col-lg-3">
					<form role="form">
					  <div class="form-group">
					    <input type="email" name="teammate" class="form-control-custom" id="exampleInputEmail1" placeholder="Email">
					  </div>
					</form>
				</div>
				<div class="col-lg-3">
					<form role="form">
					  <div class="form-group">
					    <input type="email" name="teammate" class="form-control-custom" id="exampleInputEmail1" placeholder="Email">
					  </div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row padding-top-sm center">	
			<div class="row">
				<%= render "pilots/svg/twitter" %>
			</div>
			<button class="btn btn-custom-small" type="button">
				TWITTER
			</button>
	</div>

	<div class="col-lg-6 col-lg-offset-3 padding-top center">
		<p class="light">If you're not chosen for the pilot, don't worry, Triage will be availible for everyone soon.</p>
	</div>
</div>