<div class="container fullheight">
	<div class="row center padding-top-sm">
		<%= image_tag "triage-logo.png" %>
	</div>

	<div class="row center">
		<div class="col-lg-6 col-lg-offset-3 padding-top-sm">
			<h2>Thanks so much!</h2>
			<h4>We'll email you if you are chosen for the pilot program.</h4>
			<br>
			<h4 class="padding-top-sm light">Having your teammates fill out our questionnaire increases your chances to be chosen to pilot Triage. Share our pilot questionnaire, we'll keep track of companies that fill it out.</h4>
		</div>
	</div>
	
	<div class="row padding-top-sm center">	
			<div class="row">
				<%= render "pilots/svg/twitter" %>
			</div>
			<button class="btn btn-custom-small" type="button">
				TWITTER
			</button>
	</div>

	<div class="col-lg-6 col-lg-offset-3 padding-top center">
		<p class="light">If you're not chosen for the pilot, don't worry, Triage will be availible for everyone soon.</p>
	</div>
</div>