<div class="intro">
		<h1><%= @share.user.name.titleize %> thinks its important that you see this.</h1>
</div>


<%= render @feed_item %>

<div class="row">
	<div class="outro col-lg-6 col-lg-offset-3">
	<br />
		<%= image_tag "team/charlie.png", :width => "70" %>
		<h1>Charlie is using Triage to monitor everything happening at work. </h1>
		<div id="hero-btn-share">
				<button class="btn btn-custom-share btn-lg grow" type="button" id="download-cta">
					<span class="glyphicon glyphicon-phone" style="margin-right: 20px;"></span>Get Triage For iOS
				</button>
		</div>
	</div>
</div>
