/* Header */
 .intro {
 	text-align: center;
 	padding-bottom: 40px
 }

/* Card */

.card-wrapper {
	background: #fff;
	padding: 25px 50px;
	overflow: auto;
	border-radius: 6px;
	border: 1px solid #E1E2E4;
	margin-bottom: 20px;
}

.row {
	width: 100%;
	margin-left: 0;
    margin-right: 0;
}

/* Title */

.as-image {
	float: left;
}
.headcontent {
	padding-left: 78px;
}
.author {
	margin: 0;
}
.title {
	margin: 0;
}

/* Title Meta */

.timetitle {
	margin: 5px 0 10px;
}
.alt {
	font-size: 16px;
	color: #AFAFAF;
	letter-spacing: 0.26px;
	display: inline;
	margin: 0;
	vertical-align: middle;
}
#timeicon {
	display: inline;
	margin: 2px 5px 2px 0;
}

/* Content */
.content {
	clear: both;
	border-top: 1px #EEF1F2 solid;
    padding: 15px 0;
    width: 98%;
}
<<<<<<< HEAD

.body-list li{
	font-size: 20px;
	color: #40454F;
	line-height: 28px;
}
=======
.contentdescription {
	margin: 5px 0 10px;
}

>>>>>>> 34f9936f5b5b74126168a3f5741239821987c39c
.contentlinks {
	clear: both;
	margin-bottom: 0;
}
.contentlinks p {
	margin-bottom: 0;
}

/* Comments */
.conversation {
	border-top: 1px solid #EEF1F2;
	padding-top: 20px;
}
.convo-image {
	float: left;
}
.convo {
	padding-left: 53px;
}
.messanger {
	min-height: 1px;
    position: relative;
    width: 80%;
    float: left;
}
.messangertext {
	margin: 0;
}
.time {
	min-height: 1px;
    position: relative;
    width: 20%;
    float: left;
    text-align: right;
}
#alerticon {
	margin-left: -16px;
	margin-top: 20px;
	padding-top: 3px;
}
.message {
	font-size: 18px;
	line-height: 24px;
	margin: 0;
}

/* Mobile */

@media (max-width: 767px) {


.card-wrapper {
    padding: 20px ;
}
.content {
	margin: 0;
	padding: 10px;
}
.contentlinks {
	padding-top: 15px;
}
.headcontent,
.metacontent {
	padding-left: 50px;
}
#lgicon {
	width: 40px;
}
#timeicon {
	width: 18px;
}
.btn-custom-share {
	width: auto;
}
}
