/* Header */
 .intro {
 	text-align: center;
 	padding-bottom: 40px
 }

/* Card */

.card-wrapper {
	background: #fff;
	padding: 25px 50px;
	overflow: auto;
	border-radius: 6px;
	border: 1px solid #E1E2E4;
	margin-bottom: 20px;
}

.row {
	width: 100%;
	margin-left: 0;
    margin-right: 0;
}

/* Title */

.head {
	padding-bottom: 10px;
}

/* Title */

.as-image {
	float: left;
}
#smicon {
        margin-left: -24px;
        margin-top: 35px;
        padding-top: 3px;
}
.head-content {
	padding: 5px 0 0 78px;
}
.title {
	margin: 0;
}

/* Title Meta */

.property {
	margin-top: 5px;
}
.alt {
	font-size: 16px;
	color: #AFAFAF;
	letter-spacing: 0.26px;
	display: inline;
	margin: 0;
	vertical-align: middle;
}
#timeicon {
	display: inline;
	margin: 2px 5px 2px 0;
}

/* Content */
.content {
	clear: both;
	border-top: 1px #EEF1F2 solid;
    padding: 15px 0;
    width: 98%;
}
.body-list li{
	font-size: 20px;
	color: #40454F;
	line-height: 28px;
}

.event-content {
	margin: 5px 0 10px;
	color: #747475;
}

/* Lists */
 ul.body-list {
    list-style-type: none;
    margin-left: 1.5em;
    padding-left: 1em;
    text-indent: -0.85em;
}

ul.body-list li:before {
    content: "- ";
}

/* Image */

.event-image {
	text-align: center;
}
#image {
	max-height: 300px;
}

.imagedescription {
	text-align: center;
	padding-top: 20px;
}
/* Links */
.content-links {
	clear: both;
	margin-bottom: 0;
}
.content-links p {
	margin-bottom: 0;
}

/* Comments */
.conversation-border {
	border-top: 1px solid #EEF1F2;
}
.conversation {
	padding-top: 20px;
}
.convo-image {
	float: left;
}
.convo {
}
.subconvo {
	padding-left: 53px;
}
.messanger {
	min-height: 1px;
    position: relative;
    width: 80%;
    float: left;
}
.message-alert {
	margin: 0;
}
.message-author {
	margin: 0;
}
.time {
	min-height: 1px;
    position: relative;
    width: 20%;
    float: left;
    text-align: right;
}
#alerticon {
	margin-left: -16px;
	margin-top: 20px;
	padding-top: 3px;
}
.message {
	font-size: 18px;
	line-height: 24px;
	margin: 0;
}

/* Mobile */

@media (max-width: 767px) {


.card-wrapper {
    padding: 20px ;
}
.content {
	margin: 0;
	padding: 10px;
}
#image {
	max-height: 200px;
}
 ul.body-list {
    margin-left: 0;
}
.contentlinks {
	padding-top: 15px;
}
.head-content {
	padding-left: 50px;
}
#lgicon {
	width: 40px;
}
#timeicon {
	width: 18px;
}
.btn-custom-share {
	width: auto;
}
}
