<div class="col-lg-12">
	<div class="spacer"></div>
	<div class="row">
		<div class="col-lg-6 col-lg-offset-3">
			<!-- Logo Row -->
			<div class="row">
				<h1><%= image_tag "logo-triage-lg.png" %><span id="logo">Triage</span</h1>
			</div>
			<!-- Title Row -->
			<div class="row" id="welcome-title">
				<h1>Great, you verified your email.</h1>
			</div>
			<!-- Description Row -->
			<div class="row" id="welcome-description">
				<p> Open the app on your iPhone and you're free to go!</p>
			</div>

		</div>
	</div>
</div>


<script type="text/javascript">
  var userAgent = window.navigator.userAgent;
  if (userAgent.match(/iPhone/i)) {
  	launchsockPicker = function() {
	       setTimeout(function() {
	        window.location = 'https://www.triaged.co'
	       }, 500);

	       window.location = 'triage://?<%=@token%>';
	   };

	   launchsockPicker();
  }
</script>
