<div class="col-xs-12">
			<!-- Logo Row -->
			<br /><br /><br /><br />
			<div class="row center-block">
				<h3 class="text-center" style="color: #8494C0;">Great, you're all set.</h3>
			</div>
			
			

		<br /><br />
</div>


