<div id="footer">
		<div class="container">
			<div class="row center-block">
				<div class="col-xs-12 center-block">
				
				<%= image_tag("available.png", :class => "center-block") %>  <br /><br /><br />
			  <ul id="footer-list" class="center-block">
					<li> FAQ </li>
					<li> Support </li>

				</ul>
				<br /><br />
			</div>
		</div>
		</div>
	</div>