.profile-picture {
	width: 140px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	display: block;
	margin: 0 auto;
}

#about-name {
	margin-top: 10px;
	text-align: center;
}
#about-images {
	margin-top: 20px;
	margin-bottom: 30px;
}
#about-title {
	margin-top: 30px;
	margin-bottom: 20px;
}