html,
body {
  height: 100%;
  background-color: #f3f3f8;
  -webkit-font-smoothing:antialiased;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
}


h1 {
	font-size: 36px;
	line-height: 50px;
	color: #40454f;
	font-weight: normal;
}

h2 {
	font-size: 36px;
	color: #7993D4;
}

p {
	font-size: 18px;
	line-height: 24px;
	color: #808695;
}

.btn-custom {
  background-color: #7993D4;
  border-color: #7993D4;
  width: 100%;
  font-size: 20px;
  color: #ffffff;
  font-family: "proxima-nova";
  font-weight: lighter;
}
.btn-custom.big {
	width: 380px;
  height: 60px;
}

.btn-custom.small {
	 font-size: 20px;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
  background-color: #6683ce;
  border-color: #5274c8;
  color: #ffffff;
}
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
  background-color: #8393bf;
  border-color: #8393bf;
}
