html,
body {
  height: 100%;
  min-height: 100%;
  background-color: #7691CD;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  margin-top: 150px; 
  padding-bottom: 150px;
}

/* Column spacing */
.spacing-lg {
    margin-top: 200px;
}

.spacing-m {
    margin-top: 100px;
}

.spacing-sm {
    margin-top: 50px;
}

.spacing-xsm {
    margin-top: 25px;
}

.border-top {
  border-top: 1px solid #ffffff;
}

.margin-bottom {
  margin-bottom: 50px;
}

h1 {
  font-size: 50px;
  line-height: 72px;
  color: #ffffff;
  font-weight: normal;
  
}

h2 {
  font-weight: 100;
  color: #ffffff;
  font-size: 46px;
  line-height: 60px;
  text-align: center;
}

p {
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  font-weight: 300;
}

a {
	color: #ffffff;
}

.left {
  text-align: left;
  padding: 0 15px 0 15px;
}

.right {
  text-align: right;
  padding: 0 15px 0 15px;
}

.center {
  margin: 0 none;
  text-align: center;
}
#hero-btn {
  width: 70%;
  float: left;
  min-height: 1px;
  padding-right: 15px;
  position: relative;
}
.btn-custom {
  background-color: #ffffff;
  color: #40454F;
  width: 80%;
  font-size: 20px;
  padding: 25px 10px 25px 10px;
  font-family: "proxima-nova";
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
}
.btn-custom.big {
  width: 380px;
  height: 60px;
}

.btn-custom.small {
   font-size: 20px;
   text-transform: uppercase;
 }

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
 color: #000000;
 text-decoration: underline;
}
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
  background-color: #8393bf;
  border-color: #8393bf;
}
