h3.colored {
	color: #8494C0;
}

.spacer {
	padding-top:0px;
}

#logo {
	vertical-align: bottom;
	padding-left: 25px;
}

#iphone {
	width: 360px;
}

#welcome-title {
	margin-top: 84px;
	width: 468px;
}
#welcome-title h1 {
	font-size: 56px;
    line-height: 72px;
    font-weight: 100;
}

#welcome-description {
	margin-top: 20px;
}

#welcome-icons {
	width: 16.66%;
	float: left;
	text-align: center;
}

#welcome-icons > p {
	margin-top: 20px;
	font-size: 18px;
}

#providers {
	margin-top: 10px;
}

#welcome-cta {
	margin-top: 100px;
}

#phone_number {
	width: 330px;
	border: none;
	background-color: #7691CD;
	height: 34px;
	font-size: 24px;
	font-weight: lighter;
	color: #ffffff;
	outline: none;
	padding-top:10px;
	margin-bottom:4px;
}

.text-btn {
	background: #f3f3f8;
	font-size: 16px;
	color: #8494C0;
	border:0 none;
}

.text-btn:focus, .text-btn:active {
  border:0 none;
}

#input-line {
	padding-top: 5px;
	vertical-align: top;
	width: 100%;
}



#response {
	float: left;
	padding-top: 10px;
}

#footer-inner {
	text-align:center;
	margin: 100px 0 150px 0;
}

#footer-list {
	margin: 0 auto;
	-webkit-padding-start: 0px;
	-moz-padding-start: 0px;
}

#footer-list li
{
	display: inline;
	list-style-type: none;
	padding-right: 30px;
}

#footer-list li a {
	font-size: 16px;
	color: #ffffff;
}

#ft-img {
	width: 200px;
 	margin: 0 auto;
}

@media (max-width: 767px) {
	h1 {
		font-size: 30px;
		line-height: 40px;
	}
	h2 {
		text-align: center;
	}

	#welcome-title {
		margin-top: 30px;
	}

	#welcome-cta {
		margin-top: 40px;
	}

	#providers {
		margin-left: 0px;
	}

	#iphone {
		width: 100%;
	}

	#phone_number {
		width: 100%;
	}

	#input-line {
		width: 100%;
	}

	#footer-list li
{
	display: block;
	list-style-type: none;
	padding-right: 0px;
	text-align: center;
}

}