<div class="row">
	<div class="col-lg-4 col-lg-offset-4">
		<%= simple_form_for([:app, @status_report, StatusEntry.new], :html => {:class => "form-horizontal" }, :remote => true) do |f| %>
  		<%= f.error_notification %>

		  <div class="form-inputs">
		  	<%= f.input :body, :label => false, :placeholder => "What'd you do today?" %>
		  </div>

		  <div class="form-actions">
		    <%= f.button :submit, "Add", :class => "btn btn-info form-control" %>
		  </div>
		<% end %>
	</div>
</div>
