<h1>Status Reports <span class="pull-right"> <%= link_to 'Your Status', new_app_status_report_path %></span></h1> 

<br /><br /><br />

<div class="col-lg-6 col-lg-offset-3">

<%= render @status_reports %>

</div>



<br>


