<div class="row">
	<div class="col-lg-8 col-lg-offset-2">

		<ul id="status-entries">
		<%= render @status_report.status_entries %>
		</ul>
	</div>

	<hr />
	
</div>

<%= link_to 'Back', app_status_reports_path %>
