<div class="row conversation">
		<div class="convo-image">
			<%= image_tag "team/charlie.png", :width => "36" %>
			<%= image_tag "icons/notification-icon.png", :width => "16", :id => "alerticon" %>
		</div>
		<div class="convo">
			<div class="messanger">
				<h2 class="messangertext">Charlie W. <span>created a Github Issue for this dispute</span></h2>
			</div>
			<div class="time">
				<p class="alt">15m</p>
			</div>
		</div>
		</div>
</div>