<div class="row conversation">
	<%= small_avatar_for chat.author %>
	<div class="subconvo">
		<div class="messanger">
			<h2 class="message-alert">chat.body</h2>
		</div>
		<div class="time">
			<p class="alt"><%= time_ago_in_words chat.timestamp %></p>
		</div>
	</div>
</div>
	
