<div class="conversation row">
	<div class="convo-image">
		<%= image_tag "team/charlie.png", :width => "36" %>
		<%= image_tag "icons/notification-icon.png", :width => "16", :id => "alerticon" %>
	</div>
	<div class="convo floatleft">
		<h2 class="author">Charlie W. <span class="action">created a Github Issue for this dispute</span></h2>
	</div>
	<div class="floatright">
	<p class="time">15m</p>
	</div>
</div>