<h1>Listing admin_provider_sections</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_provider_sections.each do |admin_provider_section| %>
      <tr>
        <td><%= admin_provider_section.name %>
        <td><%= link_to 'Edit', edit_admin_provider_section_path(admin_provider_section) %></td>
        <td><%= link_to 'Destroy', admin_provider_section_path(admin_provider_section), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Provider section', new_admin_provider_section_path %>
