<div id="footer">
		<div class="container">
		  <ul id="footer-list">
				<li> <%= image_tag("available.png") %> </li>
				<li> <%= link_to 'FAQ', faq_path %> </li>
				<li> <%= link_to 'Support', support_path %> </li>

			</ul>
		</div>
	</div>