<div id="footer">
		<div class="container">
		  <ul id="footer-list">
				<li> <%= link_to image_tag("available.png"), "http://appstore.com/triage-everything-thats-happening" %> </li>
				<li> FAQ </li>
				<li> Support </li>

			</ul>
		</div>
	</div>