<header class="nav">
  <div class="navbar">
    <div class="navbar-header">
      <%= link_to image_tag("logotriage.png", :width => "60", :id => "navlogo", :class => "pulse"), "https://www.triaged.co/" %>
      <!-- <a class="navbar-triage" href="./">triage</a> -->
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to image_tag("appstore-badge.png", :width => "140", :id => "navitunes"), "https://itunes.apple.com/us/app/triage-everything-thats-happening/id744662903?ls=1&mt=8" %>
        </li>
      </ul>
    </nav>
  </div>
</header>